@use '../base/variables' as *
@use 'mixins' as *

.products-grid
    @include center-content
    flex-direction: column
    padding: 2rem 0

    h2
        font-size: 2rem
        text-transform: uppercase

    &-container
        display: flex
        justify-content: space-between
        padding: 2rem 0